.footer{
    /* replace div bottom of the page */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
   padding-top: 5px;

}