footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer p{
    margin: 0;
    font-size: 20px;
}
.footer p a{
    color: #fff;
    text-decoration: none;
}
.footer p a:hover{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}
.footer p a.active{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}
.footer p a.active:hover{
    color: #fff;
    background-color: #000;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content-section{
    width: 33.33%;
}
.about{
    text-align: left;
    padding: 0 20px;
}
.about h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.about p{
    font-size: 20px;
}
.about p a{
    color: #fff;
}
.about p a:hover{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}
.logo-text{
    font-size: 30px;
    color: #fff;
}
.contact{
    text-align: left;
}
.contact span{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}
.socials{
    text-align: right;
}
.socials a{
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
}
.socials a:hover{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}
.footer-section{
    width: 33.33%;
}
.links{
    text-align: center;
    border-left: 1px solid #fff;
    padding: 0 20px;
}
.links ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.links ul a:hover{
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}
.contact-form{
    text-align: center;
    border-left: 1px solid #fff;
    padding-left: 30px;
}
.contact-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.contact-form button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #000;
    color: #fff;
}
