<<<<<<< HEAD
<<<<<<< HEAD
.main{
    background:cadetblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.login{
    width: 400px;
    height: 400px;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
=======
=======
>>>>>>> 94bf482 (login)
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
<<<<<<< HEAD
>>>>>>> 2436bdc (yeni login)
=======
=======
.main{
    background:cadetblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.login{
    width: 400px;
    height: 400px;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
>>>>>>> 224c895 (login)
>>>>>>> 94bf482 (login)
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(240, 69, 7);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
button:hover{
    background: rgb(250, 132, 90);
    color: #000;
    cursor: pointer;
}
=======
=======
>>>>>>> 94bf482 (login)
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
<<<<<<< HEAD
>>>>>>> 2436bdc (yeni login)
=======
=======
    width: 100%;
    padding: 10px;
    border: none;
    background: rgb(240, 69, 7);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
button:hover{
    background: rgb(250, 132, 90);
    color: #000;
    cursor: pointer;
}
>>>>>>> 224c895 (login)
>>>>>>> 94bf482 (login)
