nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    width: 100px;
    height:100%;
    margin: 10px;
}
.menu{
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
    margin-right: 10%;

}
.menu-item{
    list-style: none;
    padding: 0 10px;
    margin: 50px;
    margin-top: 30px;
    height: 100%;
    width: 100px;
    /* add shadow */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    
}
.menu-item a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
}