section{
    background-color: red;
    width: 80%;
    margin: auto;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px;
}
hr{
    opacity:0.5
}
