.user-body{
    color: #fff;
    width: 100vw;
    height: 100vh;
}
.user-container{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 20px 50px #000;
    color: black;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    min-width: 768px;
    display: flex;
    flex-direction: column;
}
.user-header{
    width: 90%;
    height: fit-content;
    min-height: 100px;
    margin: 0 auto;
    padding-top: 50px;
}
img{
    border-radius: 50%;
    box-shadow: 3px 3px 10px #000;
}
.user-name{
    margin-top: 10px;
    color: #fff;
}
.user-bio{
    padding: 10px;
    color:#fff;
}
.user-content{
    width: 90%;
    height: max-content;
    min-height: 300px;
    margin: 10px auto;
}
.create-link-title{
    display: none;
}
.logout-button{
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: 20px;
    background-color: rgba(187, 54, 54, 0.5);
    border-radius: 20px;
}
.logout-button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.create-link-button{
    height: 50px;
    margin: 0 auto;
    background-color: rgba(47, 190, 47, 0.5);
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.create-link-box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.6 );
    width: 60%;
    margin: 0 auto;
}
.create-link{
    display: flex;
    flex-direction: column;
}
.add-link{
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}